.footerText {
  font-size: 17px;	
  text-align: center;
  /* color: #868e96; */
  font-weight: bold;
  font-family: "Google Sans Regular";
  margin-bottom: 0px;
}

.footerDiv {
  margin-top: 2rem;
}
@media (min-width:768px){
	.footerText{
		    font-size: 25px;
	}
}	