.devIcons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-top: 0px;
  text-align: center;
}

.headingSubText {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Google Sans Regular";
  text-align: center;
}

.competitiveSitesInline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
  font-family: "Google Sans Regular";
}

.competitiveSitesInline > i {
  color: #868e96;
}

.competitiveSitesInline > i:hover {
  color: #645beb;
}
@media(max-width: 768px){
	.headingSubText{
		font-size: 23px;
	}	
}	